.card-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-card {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 10px;
    height: auto;
    width: 400px;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-header {
    height: 200px;

}

.card-header img {
    width: 100%;
    height: auto;
    object-fit: cover;

}

.user-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.handle {
    margin-top: -20px;

}

.bio {
    margin-top: 10px;
    padding: 10px;

}

.card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.card-body img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.stats {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.btn {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btn-primary {
    background-color: #007bff;
    color: white;
}

.btn-outline {
    background-color: white;
    border: 1px solid #007bff;
    color: #007bff;
}